@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500&family=Fira+Sans:ital,wght@0,400;0,600;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/*
breakpoints:

min-width: 576px
min-width: 768px
min-width: 1024px
min-width: 1280px
min-width: 1536px

*/
:root {
  font-family: "Fira Sans", sans-serif;

  --pico-spacing: 1.5rem;
  --pico-typography-spacing-vertical: var(--pico-spacing);
}

@counter-style checkmark {
  system: cyclic;
  symbols: "\2705"; // unicode code point
  suffix: " ";
}

// layout

#root {
  > header,
  > main,
  > footer {
    padding-block: 1rem 0;
  }
}

// tweak spacing

fieldset legend,
label {
  margin-bottom: var(--pico-spacing);
}

article {
  :last-child:not(footer) {
    margin-block-end: 0;
  }
}

header hgroup {
  margin-block-end: 0;
}

article {
  header {
    :last-child {
      margin-block-end: 0;
    }
  }

  footer {
    fieldset {
      margin-bottom: 0;
      [type] {
        margin-bottom: 0;
      }
    }
  }
}

// elements

h1,
h2,
h3,
h4 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: normal;
}

p,
summary {
  font-family: "Lora", serif;
}

b,
strong {
  font-weight: 600;
}

del {
  text-decoration: none;
}

button {
  white-space: nowrap;
  min-width: auto !important;
}

button.inline {
  padding: 0.25rem 0.5rem;
  margin: 0;
  width: unset;
  outline: 0;
  display: inline-block;
}

button.link {
  --color: var(--primary-hover);
  --background-color: transparent;

  border: none;
  padding: 0;
  margin: 0;
  width: unset;
  color: var(--color);
  outline: 0;
  background-color: var(--background-color);
}

// footer

#root > footer {
  padding-top: calc(var(--pico-spacing) * 3);
  padding-bottom: calc(var(--pico-spacing) * 1);
  text-align: center;
}

// section

section {
  padding-top: 0;
  padding-bottom: 0;

  header {
    padding-block: 1rem 0;
  }

  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &.bg {
    margin-top: 0;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #6cc16aab 0%, #87ebf9ab 100%);

    header h1 a {
      @media (prefers-color-scheme: dark) {
        color: var(--pico-primary-inverse) !important;
      }
    }

    p {
      color: var(--pico-h2-color);
    }

    &.container {
      padding-left: var(--pico-block-spacing-horizontal);
      padding-right: var(--pico-block-spacing-horizontal);
    }
  }

  &.round {
    border-radius: 0;

    @media (min-width: 576px) {
      border-radius: 2rem;
    }
  }
}

main {
  section.container.round {
    border-radius: 2rem;
  }
}

// homepage

.homepage {
  .jumbotron {
    @media (min-width: 1024px) {
      padding: calc(var(--pico-block-spacing-vertical) * 2) 0;
      gap: calc(var(--pico-block-spacing-horizontal) * 2);
    }

    @media (min-width: 1280px) {
      padding: calc(var(--pico-block-spacing-vertical) * 4) 0;
      gap: calc(var(--pico-block-spacing-horizontal) * 4);
    }
  }
}

// jumbotron

.jumbotron {
  padding: var(--pico-block-spacing-vertical) 0;
  gap: calc(var(--pico-spacing) * 2);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  img {
    max-height: 40vh;
  }

  > div {
    flex-grow: 0;
    width: 80%;

    @media (min-width: 1024px) {
      width: 40%;

      &:only-child {
        width: 50%;
      }
    }
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--pico-primary);

    @media (prefers-color-scheme: dark) {
      color: var(--pico-h2-color);
    }

    u {
      text-decoration: underline;
      text-decoration-color: var(--pico-primary-underline);
    }
  }

  p {
    font-size: 1em;
  }

  &.large {
    > div {
      width: 100%;

      @media (min-width: 1024px) {
        width: 50%;

        &:only-child {
          width: 75%;
        }
      }
    }

    h2 {
      font-size: 3em;
    }

    h3 {
      font-size: 2.5em;
    }

    h4 {
      font-size: 1.5em;
    }

    p {
      font-size: 1.2em;
    }
  }

  .grid {
    &:not(:last-child) {
      margin-bottom: var(--pico-spacing);
    }
  }
}

// helpers

small.invalid {
  color: var(--pico-del-color);
}

.align-right {
  text-align: right;
}

.hidden {
  visibility: hidden;
}

// components

// select
.select {
  margin-top: calc(var(--pico-spacing) * 0.25);

  + small {
    display: block;
    width: 100%;
    margin-top: calc(var(--pico-spacing) * 0.25);
    margin-bottom: var(--pico-spacing);
    color: var(--pico-muted-color);
  }

  input {
    box-shadow: none;
  }

  .select__control {
    border: var(--pico-border-width) solid var(--pico-form-element-border-color) !important;
  }

  .select__control--is-focused {
    border: var(--pico-border-width) solid var(--pico-border-color);
    box-shadow: 0 0 0 var(--pico-outline-width)
      var(--pico-form-element-focus-color);
  }

  .select__value-container {
    padding: 0 var(--pico-form-element-spacing-horizontal);
  }

  .select__multi-value {
    margin: 0 calc(var(--pico-spacing) * 0.25) 0 0;
    align-items: center;
  }

  .select__multi-value__label {
    padding: 0 calc(var(--pico-spacing) * 0.5);
  }

  .select__multi-value__remove {
    border: none;
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 90%);
    padding: calc(var(--pico-spacing) * 0.5);
  }
}

// site title
hgroup {
  > h1 {
    margin-bottom: 0.5rem;
  }

  > :not(:first-child):last-child {
    font-size: 1.4rem;
  }

  @media (min-width: 768px) {
    > h1 {
      display: inline;
    }

    > h2 {
      display: inline;

      &::before {
        margin: 0 var(--pico-block-spacing-vertical);
        color: var(--pico-muted-border-color);
        content: "|";
      }
    }
  }
}

// badge
.badge {
  background-color: var(--pico-muted-border-color);
  color: var(--pico-muted-color);
  font-family: "Fira Sans", sans-serif;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  margin: 0 0.5rem 0 0;
  border-radius: 0.25rem;
  font-size: 0.7rem;
  line-height: 1em;
  text-transform: uppercase;
  display: none;
  vertical-align: bottom;

  @media (min-width: 576px) {
    display: inline-block;
  }
}

// article title
article h3 {
  .badge {
    position: relative;
    top: -0.2rem;

    &:first-child {
      margin-left: var(--pico-spacing);
    }
  }
}

// slider
input[type="range"] {
  padding-left: 3rem;

  &::before {
    content: attr(value);
    top: -0.1rem;
    position: relative;
    margin-left: -3rem;
    color: var(--pico-muted-color);
  }

  &.percentage::before {
    content: attr(value) "%";
  }
}

// training
.training {
  p {
    font-size: 1.5em;
  }

  ul {
    padding: 0;

    li {
      font-family: "Lora", serif;
      font-size: 1.2em;
      list-style: none;

      &:not(:last-child) {
        padding-bottom: 0.5rem;
      }
    }
  }
}

// list with correct item
li.correct {
  list-style-type: checkmark;
}

// questions
details {
  summary {
    line-height: inherit;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--pico-color) !important;

    &::before {
      position: absolute;
      display: block;
      margin-left: -2rem;
      content: attr(title) ".";
    }

    &::after {
      position: relative;
      left: 2rem;
    }
  }

  ul {
    padding-left: 3rem;
  }

  &.correct,
  &.incorrect {
    border-left: 0.5rem solid red;
    padding-left: 1rem;
  }

  &.correct {
    border-color: var(--pico-ins-color);
  }

  &.incorrect {
    border-color: var(--pico-del-color);
  }
}

// answer table in the question form
.answers-inputs {
  > label {
    margin-bottom: calc(var(--pico-spacing) * 0.25);
  }

  .answer {
    display: flex;
    gap: calc(var(--pico-spacing) * 0.5);
    align-items: baseline;

    > *:not(input[type="text"]) {
      flex-shrink: 0;
    }

    // input
    > input[type="text"] {
      flex-grow: 1;
    }

    > label,
    > input {
      margin-bottom: calc(var(--pico-spacing) * 0.5);
    }

    &:last-child {
      margin-bottom: var(--pico-spacing);
    }
  }
}
